html {
-webkit-overflow-scrolling: touch;
}

body {
  position: relative;
  overflow-y: auto;
  background: #bababa;
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
    display: none;
}

#section1, #section2, #section3 {
    height: 76vh;
    padding: 20px;
    background-clip: padding-box;
    -webkit-box-shadow: 24px 24px 63px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 24px 24px 63px 0px rgba(0,0,0,0.3);
    box-shadow: 24px 24px 63px 0px rgba(0,0,0,0.3);
}

.container-fluid {
  padding-top: 12vh;
  padding-bottom: 12vh;
  padding-left: 12vh;
  padding-right: 12vh;
  scroll-snap-align: start;
}

.navbar-nav {
margin-right: 15vh;
margin-bottom: 13vh;
}

#section1 {
  background-color: #455d77;
}
#section2 {
  background-color: #f95959;
}
#section3 {
  background-color: #facf5a;
}

.nav-item {
font-size: ;
color: #ffffff !important;
}

h3 {
  font-size: 3.5vw;
  color: #ffffff;
  text-align: center;
}
h1 {
  font-size: 2vw;
  color: #ffffff;
  text-align: center;
}
p {
  font-size: 1vw;
  color: #ffffff;
  text-align: center;
}
#text {
  width: 60vw;
margin: 0 auto;
}

/* size on resize */
@media screen and (max-width: 992px) {
  .container-fluid {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
}
#section1, #section2, #section3 {
    height: 90vh;
}
.navbar-nav {
margin-right: 5vh;
margin-bottom: 6vh;
}
}
