/* main */
html {
    -webkit-overflow-scrolling: touch;
}
body {
    position: relative;
    overflow-y: auto;
    background: #bababa;
    scroll-snap-type: y mandatory;
}
::-webkit-scrollbar {
    display: none;
}

/* fonts */

/* logo and cards */
#header {
    position: fixed;
    padding-top: 12.5vh;
    padding-left: 12vh;
    height: 20%;
    width: 20%;
}
#section1, #section2, #section3 {
    height: 76vh;
    padding: 20px;
    background-clip: padding-box;
    -webkit-box-shadow: 24px 24px 63px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 24px 24px 63px 0px rgba(0,0,0,0.3);
    box-shadow: 24px 24px 63px 0px rgba(0,0,0,0.3);
}
.container-fluid {
    padding-top: 12vh;
    padding-bottom: 12vh;
    padding-left: 12vh;
    padding-right: 12vh;
    scroll-snap-align: start;
}
#section1 {
    background-color: #455d77;
}
#section2 {
    background-color: #f95959;
}
#section3 {
    background-color: #facf5a;
}
#link {
    position: absolute;
    bottom: 12vh;
    left: 50%;
    right: 20%;
    z-index: 9999999;
  }

/* text */
h3 {
    font-family: 'Helvetica Neue';
    font-weight: 800;
    font-size: 3.5vw;
    color: #ffffff;
    text-align: center;
}
h2 {
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 2vw;
    color: #ffffff;
    text-align: center;
}
h1 {
    font-family: 'Courier New';
    font-weight: 200;
    font-size: 1.4vw;
    color: #ffffff;
    text-align: center;
}
#textarea {
    padding-top: 10vh;
    width: 45vw;
    margin: 0 auto;
}

/* navbar */
a:visited{
    color: #ffffff !important;
}
.nav-item {
    font-family: 'Helvetica Neue';
    font-weight: 800;
    color: #ffffff !important;
}
.navbar-nav {
    margin-right: 15vh;
    margin-bottom: 13vh;
}


/* size on resize */
@media screen and (max-width: 992px) {
  .container-fluid {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
}
#section1, #section2, #section3 {
    height: 90vh;

}
.navbar-nav {
    margin-right: 5vh;
    margin-bottom: 6vh;
}
#header {
    position: fixed;
    padding-top: 5vh;
    padding-left: 4.5vh;
}
img {
    height: 30px;
    width: 150px;
}
}

/* gallery */
.project {
    position: relative;
    width: 50%;
    float: left;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #f95959;
}

.project:hover .overlay {
    opacity: 0.5;
}
.project:hover .textlink {
    opacity: 1;
}

.textlink {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
}
